<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button  type="button" class="navbar-toggle collapse" data-toggled="collapse"
        data-target="#navbar-collapse-menu" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">
        <i class="fa fa-gavel"> PaluGada</i>
      </a>
    </div>
    <div id="navbar-collapse-menu" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/products">Products</a></li>
        <li><a href="/clients">Clients</a></li>
        <li><a href="/orders">Sales</a></li>
        <li><a href="/teams">Team</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li>
            <%= link_to :destroy_user_session, :method => 'delete' do %>
              <i class="fa fa-sign-out"></i> sign out
            <% end %>
          </li>
        <% else %>
          <li><a href="/users/sign_in"><i class="fa fa-sign-in"></i> sign in</a></li>
        <% end %>
        <li><a href="#"><i class="fa fa-gear"></i> settings</a></li>
      </ul>
    </div>
  </div>
</nav>
